div.radio-box {
    width: 100px;
    display: inline-block;
    margin: 5px;
    background-color: white;
}
.radio-box label {
    display:block;
    width: 100px;
    text-align: center;
}
.radio-box input {
    width: 50px;
    display: block;
    margin: 5px;
}