div.radio-box {
    width: 100px;
    display: inline-block;
    margin: 5px;
    background-color: white;
}
div.radio-box-board {
    width: 100px;
    display: inline-block;
    margin: 5px;
    background-color: white;
}
.radio-box-board label {
    display:block;
    width: 100px;
    text-align: center;
}
.radio-box-board input {
    width: 50px;
    display: block;
    margin: 0 auto;
}

.radio-box label {
    display:block;
    width: 100px;
    text-align: center;
}
.radio-box input {
    width: 50px;
    display: block;
    margin: 0 auto;
}